.overlay {
    opacity: 0;
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, $darkBlue, transparent);
    pointer-events: none;
    z-index: 98;
}



.hidden-menu {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 99;
    width: 90%;
    padding: 2rem 7.5rem;
    background: $white;
    border-radius: 0.625rem;
    visibility: hidden;



    a {
        color: $darkBlue;

        &:not(:last-child) {
            margin-bottom: 1.25rem;
        }
    }

}

.hidden-menu.open {
    visibility: visible;

}


.header {
    padding: 1.1875rem;


    @include breakpoint-down(medium) {
        padding: 2rem;
    }

    &__items {
        display: flex;
        align-items: center;

        @include breakpoint-down(medium) {
            display: none;
        }
    }


    &__link {
        a {
            color: $grayishBlue;

            &:hover {
                color: #636363;
            }
        }

        &:not(:last-child) {
            margin-right: 2.0625rem;
        }





    }

    &__toggle {
        cursor: pointer;



        div {
            width: 1.8125rem;
            height: 0.125rem;
            background: $darkBlue;

            &:not(:last-child) {
                margin-bottom: 0.25rem;
            }
        }


    }

    &__toggle.active {


        div {
            &:nth-child(1) {
                transform: rotate(45deg);
                transform-origin: 7px 3px;
            }

            &:nth-child(2) {
                visibility: hidden;
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
                transform-origin: 5px 2px;
            }
        }


    }



}